# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.v
/
venv/
#.env
*.log
instance/
.pytest_cache/

# Frontend
node_modules/
dist/
dist-ssr/
*.local
..local
..production

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
